div.lightbox.background {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.5;
  background-color: #ccc;
  z-index: 99998;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

div.lightbox.content {
  position: fixed;
  opacity: 1;
  background-color: #ececec;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 99999;
  box-shadow: 0px 0px 9px 0px #000000;
  -moz-box-shadow: 0px 0px 9px 0px #000000;
  -webkit-box-shadow: 0px 0px 9px 0px #000000;
}

